.employeeCard{
    display: flex;
    width: 18rem;
}
.createEmpBtn{
    margin-top: 10px;
}
.formDiv{
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-left: 25px;
}
.createEmployee{
    color: rgb(240, 82, 58);
}