.homeImage{
    width: 100%;
}
.homeDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.homeCards{
    width: 200px;
    display: flex;
    text-align: center;
}